body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #6D9EEB;
  border: 2px solid #6D9EEB;
}
